#upperCont{
   width: 100%; 
}


#backLink{
    text-decoration: none;
  }
#backBut{
  position: absolute;
  top: -0vh;
  left: -1vw; 

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 10vw;
  height: 5vh;

  border: none;
  border-bottom: 0.2vw solid #864879;
  border-radius: 1vw;

  color: #F0E9D2;
  background-color: #11101F;


  font-size: 1.3vw;
  font-weight: bold;
  text-decoration: none;

  cursor: pointer;
  transition: 0.5s;

}
#backBut:hover{
  box-shadow: -10vw 0vh 0 0 #864876 inset;

  transition: 0.5s;
}
#backBut > svg{
  position: relative;
  left: -0vw;
  transition: 0.5s;
}
#backBut:hover > svg{
  position: relative;
  left: -2vw;

  transition: 0.5s;
}


#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    height: fit-content;
}

#bannerCont{
    margin: auto;
    width: 100%;
    height: 30vh;

    overflow-y: hidden;
}
#banner{
    width: 100%;
    height: auto;
}



#profileSection {
    display: flex;
    align-items: center;

    width: 80%;
    height: 20vh;
    padding: 3vh 10% 3vh 10%;

    background-color: #1C1A31;
    color: #F0E9D2;

    border-bottom: 0.5vh solid rgb(63, 51, 81);
    /* border-top: 0.5vh solid #11101F; */
}
#profilePhoto{
    position: relative;
    top: -8.5vh;
    width: 10vw;
    height: 10vw;

    border-radius: 20vw;
    border: 0.4vw solid #864879;
}
#infoCont{
    width: fit-content;
    margin-left: 3vw;
}
#followsCont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#followsLink button{
    background-color: transparent;
    color: #F0E9D2;
    border: none;
    height: 5vh;
    width: 10vw;
}
#followsLink button:hover{
    background-color: #e9a6a693;
}
#followsLink button:focus{
    border-bottom-style: solid;
    color: white;
}



#donationCont{
    display: grid;
    grid-auto-columns: 4vw;
    grid-auto-rows: 4vh;

    width: 16vw;
    height: 4vh;
}
#longDonationBut{
    grid-column: 1/5;
    grid-row: 1/2;

    width: 100%;
}
#shortDonationBut{
    grid-column: 1/5;
    grid-row: 1/2;
    width:20%;
}
#longDonationBut,#shortDonationBut{
    position: relative;
}

#postsLink {
    background-color: transparent;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    height: 100px;
}



#postsButtons {
    display: flex;
    justify-content: center;

    
    width: 100%;
    height: 5vh;

    background-color: #151425;
    box-shadow: inset 0vw 0.2vh 0.5vh rgb(63, 51, 81);
}
#postsLink {
    background-color: transparent;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    height: 100px;
}
#postsLink button{
    background-color: transparent;
    color: #ffffff;
    border: none;
    height: 5vh;
    width: 15vw;
}
#postsLink button:hover{
    background-color: #e9a6a693;
}
#postsLink button:focus{
    border-bottom-style:solid;
}



#userBoardCont{
    width: 100%;
    height: fit-content;
    min-height: 30vh;

    box-shadow: inset 0vw 0.2vh 0.5vh rgb(63, 51, 81);
    background-color: #11101F;
}

#userStatus{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100wv;
    height: 100vh;

    font-size: 5vw;
    text-align: center;
    color: #E9A6A6;
}
