.CardPostCont{
    width: 40vw;
    height: fit-content;
    margin: 5vh auto 5vh auto;

    /* box-shadow: 0 0 2vh 2vh #150050; */
    border-radius: 1vw;

    background-color: #19182D;

    border-left: 0.1vw solid rgba(255, 217, 0, 0.5);
    border-right: 0.1vw solid rgba(255, 217, 0, 0.5);       
}

.userInfoCont{
    position: relative;
    left: -1%;

    display: flex;
    flex-direction: row;
    
    width: 100%;
    height: 6vh;
    padding: 0 1% 0 1%;


    text-align: center;

    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    box-shadow: 0vw 0.5vh 0.5vh #6000947b;
    border-bottom: 0.2vh solid #6000945e;

    background-color: #1F1D36;
    color: #F8F8F8;
}
.userPhoto{
    max-width:5vh;
    max-height: 5vh;
    border-radius: 5vh;
    margin: 0.5vh 1vw 0.5vh 1vw ; 
}
.userName{
    height: 3vh;
    width: 15vw;
    margin: auto 0 auto 0;

    text-decoration: none;
    font-weight: bolder;
    font-size: 3vh;

    color: #864879;
}

.cardPostTitle{
    height: fit-content;
    width: 36vw;
    margin: 1vh auto 1vh auto;

    color: #F0E9D2;

    font-size: 4vh;
}

.descriptionCont{
    width: fit-content;
    max-width: 38vw;
    margin: 1vh auto 1vh auto;

    color: #F0E9D2;
}
.cardPostDescription{
    font-size: 2vh;
}


.imgsCont{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;

    height: 20vw;
    width: 30vw;
    margin: auto;
}
.cardpostImg{
    width: auto;
    height: auto;
    max-height: 20vw;
    margin: 0 2vw 0 2vw;
}

#imgPreviewCont{
    display: flex;
    flex-wrap: wrap;

    width: 36vw;
    margin: auto;

    border-radius: 4vw;

    overflow: hidden;
}
.imgSingleCont{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0.5%;

    overflow: hidden;
    cursor: pointer;
}

.singleImg{
    width:99%;
    height:99%;
}
.halfImg{
    width:49%;
    height:99%;
}
.quarterImg{
    width:49%;
    height:49%;
}



#categoriesCont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 30vw;
    height: fit-content;
    margin: 1vh auto 1vh auto;

}
.category{
    width: fit-content;
    margin: 0 0.5vw 0 0.5vw;
    color: #E3B04B;
    background-color: transparent;

    text-decoration: underline;
    font-size: 1.3vw;
}

.analiticsCont{
    position: relative;
    left: -1%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100%;
    height: 5vh;
    padding: 0 1% 0 1%;
    margin-top: 2vh;

    color: #F8F8F8;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    box-shadow: 0vw -0.5vh 0.5vh #6000947b;
    border-bottom: 0.2vh solid #6000945e;

    background-color: #1F1D36;
}
.likesShell,.sharesShell,.favoritesShell,.commentShell{
    display: flex;
    justify-content: space-between;
    width: 3vw;
    height: fit-content;
    margin: auto 0 auto 0;
    
    cursor: pointer;
}


.notLikedImg ,.notSharedImg{
    color: #F0E9D2;

    transition: 0.5s;
}
.sharedImg >svg{
    color: #E9A6A6;

    transition: 0.5s;
}
.likedImg > svg{
    color: #864879;

    transition: 0.5s;
}


.commentShell{
    width: fit-content;
    color: #F0E9D2;
    
}
.commentShell > a {
    color: #F0E9D2;
    text-decoration: none;
}
.commentShell > a > svg{
    color: #F0E9D2;
    font-size: 1.3vw;
}